<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header-format.css')}}">

    <title>Leaderboard</title>
</head>
<body>
    <div class="header">
        <a href='/logout' class='btn btn-danger'>Logout</a>
    </div>
    <table class='table table-striped table-primary' id='song-leaderboard'>
        <thead>
            <tr>
                <th>Ranking:</th>
                <th>Score:</th>
                <th>Username:</th>
                <th>Date:</th>
            </tr>
        </thead>
        <tbody>
            {% set counter = 1 %}
            {% for score in song %}
                <tr>
                    <td>{{counter}}.</td>
                    <td>{{score.Score}}</td>
                    <td>{{score.User.username}}</td>
                    <td>{{score.created_at}}</td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor -%}
        </tbody>
    </table>
    <table class='table table-striped table-primary no-show' id='user-leaderboard'>
        <thead>
            <tr>
                <th>Song Name:</th>
                <th>Score:</th>
                <th>Date:</th>
            </tr>
        </thead>
        <tbody>
            {% for score in user.high_scores %}
                <tr>
                    <td>{{score.song.name}}</td>
                    <td>{{score.Score}}</td>
                    <td>{{score.created_at}}</td>
                </tr>
            {% endfor -%}
        </tbody>
    </table>
</body>
</html>