<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Movement Game</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/opencv_game.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header-format.css')}}">

</head>
<body onload="onBodyLoad()">
    <div huemin={{user.current_settings.huemin}} huemax={{user.current_settings.huemax}} satmin={{user.current_settings.satmin}} 
        satmax = {{user.current_settings.satmax}} valmin = {{user.current_settings.valmin}} valmax = {{user.current_settings.valmax}} id="calibration-data" style="display: none;">
    </div>
    <div class="header">
    </div>
    <canvas id="camera" width="320" height="240" class='no-show'></canvas>
    <img id='image' src="../static/images/neon-lights-stage.jpg" style="display: none;">
    <canvas id="background" width="640" height="480" style="display: none;"></canvas>
    <audio controls id="music" style="display: none;">
        <source src="{{url_for('static', filename='audio/')}}" type="audio/mpeg">
    </audio>
    <form id='submission-form'></form>

    <video id="videoInput" width="640" height = "480" style="display: none;"></video>        
    <div class="inputoutput">
        <div class="overlay">
            <div class="left-menu">
                <button onclick="play();">Play</button>
                <button onclick="calibrateOn(); startCalibration();">Calibrate</button>
                <button onclick="showleaderboard();">Leaderboard</button>
                <button onclick="toExitMenu();">Exit</button>
            </div>
            <div class="songinfo no-show">
                <p>Total songs: <span id='total-songs'>{{songs|length}}</span></p>
                <div class="songselector">
                    <button class="song-pick-button" onclick="prevSong();">Prev: </button>  
                    <div class="song-picker-center">
                        <p>Song: <span id='song-name'></span></p>
                        <p>Best score: <span id='song-score'></span></p>
                    </div>
                    <button class="song-pick-button" onclick="nextSong();">Next: </button> 
                </div>
                <button class="selector selector-button" onclick="selectSong()">Select</button>
            </div>
            <div class="score-output no-show">
                <p>Your Score:</p>
                <div class="banner">
                    <p id='final-score-display'>1500</p>
                </div>
                <button onclick="hideOutput(); showleaderboard();" class="selector-button">See Leaderboard</button>
            </div>
            <div class="exit-game no-show">
                <p>Are you sure you want to exit?</p>
                <div class='yn-menu'>
                    <a id='yes-button' class='exit-button' onclick="noExitGameVisual();" href='/logout'>Yes</a>
                    <button  class='exit-button' onclick='noExitGameVisual();'>No</button>
                </div>
            </div>
            <div class="start-display no-show">
                <div class="start-display-text">
                    <p>Song: <span id='song-final-id'></span></p>
                    <p>Length: <span id='song-duration-check'></span></p>
                </div>
                <button class="start-button" onclick="onStartVisual(); onStart();">Start</button>
            </div>
            <div class="leaderboard-display no-show">
                <div class="leaderboard-header">
                    <button class="song-pick-button leaderboard-song-select" onclick="prevSongLDB();"> &lt; </button>  
                    <div class="song-picker-center leaderboard-song-display">
                        <p id='song-name-leaderboard'></p>
                    </div>
                    <button class="song-pick-button leaderboard-song-select" onclick="nextSongLDB();"> &gt; </button>  
                </div>
                <p id="your-best-score-label">Your Best Score: <span id='your-high-score'>0</span></p>
                <table class='leaderboard'>
                    <thead>
                        <tr>
                            <th>Ranking:</th>
                            <th>Score:</th>
                            <th>Username:</th>
                            <th>Date:</th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard-body">
                        
                    </tbody>
                </table>
            </div>
            <button id="backButton" class="bbtn no-show" onclick="backButton()">← Back</button>
            <button id="returnButton" class="bbtn no-show" onclick="returnToSelector()">← Back</button>
            <button id="calibration-return" class="bbtn no-show" onclick="calibrationReturn(); stopCalibration();">← Back</button>
            <div class="calibration-hub no-show">
                <form class='floating-form'>
                    <input type="hidden" name="id" id="update-id" value={{user.current_settings.id}}>
                    <div class="calibration-hub-title">
                        <div class="input-col">
                            <label for='name'>Name</label>
                            <input class='name-input' name='name' type="text" value="{{user.current_settings.name}}">
                        </div>
                        <select onchange="onSelectChange(this)" id="selected-calibration">
                            <option value="-1">--new--</option>
                    
                        {% for setting in user.settings %}
                            <option value="{{setting.id}}" {% if setting.active %}selected{% endif %}>{{setting.name}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="sliders min">
                        <div class="input-col">
                            <label for="huemin">Hue Min</label>
                            <input type="range" name="huemin" class="huemin" min='0' max='255' value={{user.current_settings["huemin"]}}>
                        </div>
                        <div class="input-col">
                            <label for="satmin">Sat Min</label>
                            <input type="range" name="satmin" class="satmin" min='0' max='255' value={{user.current_settings["satmin"]}}>
                        </div>
                        <div class="input-col">
                            <label for="valmin">Val Min</label>
                            <input type="range" name="valmin" class="valmin" min='0' max='255' value={{user.current_settings["valmin"]}}>
                        </div>
                    </div>
            
                    <div class="sliders max">
                        <div class="input-col">
                            <label for="huemax">Hue Max</label>
                            <input type="range" name="huemax" class="huemax" min='0' max='255' value={{user.current_settings["huemax"]}}>
                        </div>
                        <div class="input-col">
                            <label for="satmax">Sat Max</label>
                            <input type="range" name="satmax" class="satmax" min='0' max='255' value={{user.current_settings["satmax"]}}>
                        </div>
                        <div class="input-col">
                            <label for="valmax">Val Max</label>
                            <input type="range" name="valmax" class="valmax" min='0' max='255' value={{user.current_settings["valmax"]}}>
                        </div>
                    </div>
                </form>
                <button onclick="newCalibration();" class="calibration-submission create-calibration no-show">Create</button>
                <div class="calibration-btn">
                    <button onclick="updateCalibration();" class="calibration-submission update-calibration">Update Settings</button>
                    <button onclick="setCalibration();" class="calibration-submission set-calibration">Set</button>
                </div>
            </div>
            <div class="game-display no-show">
                <p>Streak: <span id='streak-display'>0</span></p>
                <p>Score: <span id='score-display'>0</span></p>
            </div>

        </div>
        <canvas id="canvasOutput">
            
        </canvas>
    </div>
    





<form id='hiddenform'>
    <input type="hidden" name="id" id='hiddenformId' value={{user.current_settings.id}}>
</form>



    <form method="POST" id='fileform'>
        <input type="hidden" name="filename" value="\\opm-op-seq.json">
    </form>


    <button class='btn btn-primary' onclick="toggle()">Toggle camera</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="{{url_for('static', filename='js/objects.js')}}"></script>
    <script src="{{url_for('static', filename='js/webcam_detection.js')}}"></script>
    <script src="{{url_for('static', filename='js/movement_game_visual.js')}}"></script>
    <script src="{{url_for('static', filename='js/leaderboard-handler.js')}}"></script>
    <script src="{{url_for('static', filename='js/calibrate.js')}}"></script>
    <script async src="{{url_for('static', filename='js/opencv.js')}}" onload="onOpenCvReady();" type="text/javascript"></script>
</body>
</html>