body{
    background-color: black;
}
.container{
    display: flex;
    color: white;
}


.left-column{
    display: flex;
    flex-direction: column;
}


.left-column form{
    display: flex;
    flex-direction: column;
}

.right-column{
    display: flex;
    flex-direction: column;
}


.right-column form{
    display: flex;
    flex-direction: column;
}


.invalid{
    color: red;
}

.invisible{
    display: none;
}

